# # Dependencies
# node_modules
# npm-debug.log*

# # Next.js build output
# .next
# out

# # Logs
# logs
# *.log

# # OS files
# .DS_Store
# Thumbs.db

# # Env files
# .env.local
# .env
 
# # clean-repo/
# Dependencies
node_modules/
npm-debug.log*

# Next.js build output
.next/
out/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Env files
.env.local
.env

# Custom folders
clean-repo/

# Optional caches
.cache/
dist/
